html {
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    font-family: Helvetica;
}

body {
    font-size: 12px;

}

html,
body {
    max-width: 768px;
    min-width: 360px;
    margin: 0 auto;
}

.r_container {
    padding: 15px;
    /* background-color:#EAEAEA; */
    display: flex;
    flex-direction: column;
    background-color:#ffffff;

}

.report_title {
    width:100%;
    height: 80px;
   
    background-color: #108EE9;
    padding-top: 20px;
}

.title_content {
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
}

.title_label {
    width: 9px;
    height: 25px;
    background: #FF9E0A;
    border-radius: 2px;
    float: left;

}

.title_txt {
    margin-left: 15px;
    font-size: 17px;
    color: #324461;


}
.r_container  table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 12px;
    color: #324461;
    margin-bottom: 14px;


}
.r_container  table thead tr th {
    background: #EFEFEF;
    border: 1px solid #D4D4D4;
    padding: 10px;

}
.r_container table tbody tr td{
    border: 1px solid #D4D4D4;
    padding: 10px;
}

/* 选址概况 */
.radar {
    margin-bottom: 20px;
}

.radar_title {
    margin: 9px 0 12px;

}

.radar_desc {

    font-size: 14px;
    color: #324461;
    line-height: 21px;
    text-indent: 2em;
    margin-bottom:20px;


}

.radar_chart {
    width: 80%;
    height: 250px;
    margin: 0 auto;

}

/* 住宅区商圈 */
.shangquan {
    margin-bottom: 20px;


}

.shangquan_title {
    font-size: 14px;
    color: #324461;
    margin-bottom: 15px;


}


#shangquan_map {
    width: 100%;
    height: 300px;

}

.shangquan_heat_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 15px;

}

.shangquan_heat_title div {
    flex: 1;
    font-size: 15px;
    color: #324461;

}

#shangquanMap {
    height: 190px;
    margin-bottom: 20px;

}

#shangquan_heat_chart {
    height: 340px;
}

/* 连锁品牌 */
.midu {}

.midu_title {
    font-size: 15px;
    color: #324461;
    margin-bottom:10px;

}
#wordCloud_chart{
    height:350px;
    margin-bottom:10px;

}
.midu_text{
    font-size: 14px;
    color: #324461; 
    text-indent:2em;
    margin-bottom:20px;

}

#tiliang_map{
height:300px;

}
#keliu_chart{
    height:250px;

}

#kequnjiegou_chart1{
    height:190px;
}
#kequnjiegou_chart2{
    height:190px;
}
#kequntezheng_chart{
  
height:200px;
}
#xiaofeibianli_map{
    height:300px;
    margin-bottom:20px;

}
#xiaofeibianliDiv2_map{
    height:300px;
    margin-bottom:20px;
}
#jingpinfenxi_map{
    height:300px;
    margin-bottom:20px;
}
#jingpinfenxi_chart{
    height:190px;
    margin-bottom:20px;
}
#avgXiaofei_chart{
    height:200px;
    margin-bottom:20px;

}
.rank_content{
    margin-bottom:30px;

}
.rankImg{
    display:block;
    width:30px;
    height:30px;
    float:left;

}
.rank_title{
  height:30px;
  line-height:30px;
  font-size: 15px;
color: #324461;
margin-bottom:20px;

}
.rankLine li{
    height:30px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-content:center;
    line-height:30px;
    margin-bottom:6px;
}
.rankLine li img{
    width:30px;
    height:30px;
    margin-right:10px;
}
.shopName{
    flex:1;

}
.rankLine li .shopNum{
    width:30px;
    height:30px;
    margin-right:10px;
    text-align:center;

}

.chenbenhesuan_title{
    font-size: 15px;
    color: #324461;
    margin-bottom:20px;


}
#chenbenhesuan_chart1{
    height:250px;

}
.chenbenhesuan_right_div div,.shopRent{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-content:center;
    font-size: 30px;
color: #324461;
margin-bottom:20px;
font-weight:bold;


}
#chenbenhesuan_chart2{
height:190px;
}
.chenbenDiv_chart{
    height:190px;


}
.float-btn{  
    position:fixed; 
    right:10px; 
    text-align:center;
    color:#324461;
   
}
#backTop{
    width:50px;
    height:50px;
    background-color:#e8e8e8;
    border-radius:50%;
    bottom:150px;
    padding:10px;
    line-height:30px;

}
#sendEmail{
    width:50px;
    height:50px;
    background-color:#e8e8e8;
    border-radius:50%;
    bottom:80px;
    padding:10px;
    line-height:30px;
}
